/* Animations */

@keyframes tileScaleIn1 {
    0% {
        //transform: scale(0) rotate(-20deg) translateY(50vh);
        transform: scale(0);
        opacity: 0;
        filter: blur(10px);
    }

    50% {
        //transform: scale(1.05) rotate(0) translateY(-10px);
        transform: scale(1.1);
        opacity: 1;
        filter: blur(0);
    }

    100% {
        //transform: scale(1) rotate(0deg) translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes tileScaleIn2 {
    0% {
        transform: scale(0) rotate(20deg) translateY(50vh);
        opacity: 0;
        filter: blur(10px);
    }

    50% {
        transform: scale(1.05) rotate(0deg) translateY(-10px);
        opacity: 0.5;
        filter: blur(0);
    }

    100% {
        transform: scale(1) rotate(0deg) translateY(0);
        opacity: 1;
    }
}

@keyframes tileBounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes tileFloat {
    0% {
        transform: scale(1) translate(0, 0);
    }

    25% {
        transform: scale(1.05) translate(3px, 3px);
    }

    50% {
        transform: scale(1.1) translate(-6px, -6px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes waveBounce {
    0% {
        transform: scale(1);
        background-color: #8bc34a !important;
    }

    50% {
        transform: scale(1.15);
        background-color: green !important;
    }

    100% {
        transform: scale(1);
        background-color: #8bc34a !important;
    }
}

/* Wave Bounce Effect for Solved Sentences/Columns */
.wave-bounce {
    animation: waveBounce 0.9s ease-out forwards !important;
}

/* Crossfade effect */
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

html {
    height: 100%;
    //margin-top: 0 !important;
}

body {

    &.page-template-template-game {
        //height: 100%;
    }

    .game-pieces-animated {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;

        .piece {
            position: absolute;
            background-size: contain;
            transition: all 0.5s;
            animation: tileFloat 5s ease-in-out infinite;

            &.blur {
                filter: blur(6px);
                opacity: 0;
                //display: none;
                animation: none;
            }

            &.piece-am {
                width: 100px;
                height: 100px;
                background-image: url('../images/tile-am.svg');
                top: 10%;
                left: 10%;
                animation-delay: 0.1s;
            }

            &.piece-I {
                width: 100px;
                height: 100px;
                background-image: url('../images/tile-I.svg');
                top: 20%;
                left: 80%;
                animation-delay: 0.3s
            }

            &.piece-so {
                width: 100px;
                height: 100px;
                background-image: url('../images/tile-so.svg');
                top: 60%;
                left: 15%;
                transform: rotate(48deg) !important;
                animation-delay: 0.5s;
            }

            &.piece-be {
                width: 100px;
                height: 100px;
                background-image: url('../images/tile-be.svg');
                top: 70%;
                left: 70%;
                animation-delay: 0.7s;
            }

            &.piece-think {
                width: 170px;
                height: 170px;
                background-image: url('../images/tile-think.svg');
                top: 30%;
                left: -3%;
                animation-delay: 0.2s;
            }

            &.piece-joy {
                width: 170px;
                height: 170px;
                background-image: url('../images/tile-joy.svg');
                top: 40%;
                left: 85%;
                animation-delay: 0.4s;
            }

            &.piece-must {
                width: 225px;
                height: 225px;
                background-image: url('../images/tile-must.svg');
                animation-delay: 0.1s;

                top: -3%;
                right: -3%;
            }

            &.piece-dreams {
                width: 225px;
                height: 225px;
                background-image: url('../images/tile-dreams.svg');

                top: 82%;
                left: -3%;
            }
        }
    }

    #game-screen .game-stats {
        position: relative;
            width: calc(100% + 60px);
            margin: 0 -30px;
            padding: 0 30px;
            max-width: 660px;
            overflow: hidden;
        
            @media(min-width:661px) {
                padding: 0 24px;
                  width: 100%;
            margin: 0 auto;

            }
        
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #121021;
                left: 0;
                top: 0;
                border-radius: 0 0 30px 30px;
        
            }
        &:before {
            opacity: 0.022;
            left: 0;
                z-index: 2;
            content: "play";
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 86px;
            line-height: 125%;
            text-transform: uppercase;
            font-family: Rubik-Black, arial, sans-serif;
            font-style: normal;
            font-weight: 900;
            color: #fff;
        }
        .move-container{
             margin-bottom: 22px;
                 position: relative;
    z-index: 3;
        }


    }


    .instruction-screen-wrapper,
    .instruction-screen-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;
    }

    .instruction-screen-overlay {
        backdrop-filter: blur(10px);
        background-color: rgba(9, 7, 25, .8);
    }

    .close-button {
        position: absolute;
        width: 36px;
        height: 36px;
        line-height: 30px;
        top: 16px;
        right: 50px;
        padding: 0;
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        cursor: pointer;
        z-index: 999;
        transition: all 0.5s ease-in-out;

        a {
            background: transparent;
            color: var(--ww_white_1);
            text-decoration: none !important;
            border: none;
        }

        svg {
            margin: 6px 0;

            path {
                fill: var(--ww_white_1);
            }
        }

        &:hover {
            border-color: #fff;

            /*
            svg path {
                fill: var(--ww_black_1);
            }
            */
        }
    }

    #instruction-screen {
        display: flex;
        z-index: 99999;
        /*
        background-image: url('../images/instructions-bg.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    
        */


        .game-stats {
            margin-top: 25px;
        }

        .nav-button {
            position: absolute;
            top: 40%;
            border: 1px solid #fff;
            width: 40px;
            height: 40px;
            line-height: 36px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
                background: #fff;
                color: #232130;
                border: 1px solid #232130;
            }
        }

        #back-button {
            left: 24px;
        }

        #next-button {
            right: 24px;
        }

        .header {
            width: 100%;
            top: 0;
            left: 0;
            padding: 0;
            text-align: center;
            transition: all 0.2s ease-in-out;
            background: transparent;
            margin-bottom: 24px;

            h1 {
                width: 100%;
                margin: 0 auto;
                max-width: 316px;

                @media(max-width:767px) {
                    max-width: 182px;
                }

                span {

                    background: linear-gradient(88deg, #2BC016 0.88%, #26A96C 99.12%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }


            }

        }

        #progress-container {
            position: relative;
            top: 0;
            height: 73px;
            width: 1px;
            background: var(--ww_black_3);
            border-radius: 3px;
            overflow: hidden;
            margin-bottom: 24px;

            /* Progress fill */
            #progress-bar {
                height: 0;
                width: 100%;
                background: var(--ww_white);
                border-radius: 3px;
                transition: height 0.2s ease-out;
            }

        }


        #instruction-text {
            width: 100%;
            margin: 0;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
           /* height: auto !important;
    overflow-y: auto;
    max-height: 45vh;*/

            .indicator {
                position: relative;
                width: 2px;
                height: 73px;
                margin: 15px auto;
                background: #232130;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 32px;
                    background: #fff;
                }
            }

            /* custom scrollbars */

            /* width */
            &::-webkit-scrollbar {
                /* Chrome/Safari/Webkit */
                display: none;
                background: transparent;
                width: 0px;
            }

            /*
            &::-webkit-scrollbar{
                width: 6px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--ww_black_2);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }           
            */

            .content {
                width: 100%;
                padding: 0 24px;
                transition: opacity 0.5s ease-in-out;
                @media(max-width:767px){
                     padding: 0;
                }

                .text {
                    @include font(rubik, med);
                    max-width: 540px;
                    margin: 0 auto;
                    text-align: center;
                    color: var(--ww-white);
                    font-size: var(--ww_font_size_9);
                    letter-spacing: -0.72px;
                    line-height: 112%;

                    @media(max-width:767px) {
                        max-width: 250px;
                    }

                    span {
                        color: var(--ww_regular_text);
                        display: block;
                    }

                    .num {
                        color: #8A8997;
                        @include font(inter, reg);
                        font-size: 14px;
                        line-height: 170%;
                    }
                }

                img {
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    margin: 20px auto 24px auto;
                }

                img.dark {
                    display: block;
                }

                img.light {
                    display: none;
                }

            }

        }

        .flex-column-button {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

    }

    //loader bar

    .loading {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 5% auto;
    }

    /* Title Screen Styling */
    .title-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 613px;
        padding: 0 24px;
        text-align: center;

    }

    .title-screen h1 {
        width: 100%;
        max-width: 660px;
        font-size: 84px;
        line-height: 80%;
        //color: ww_black_2;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include font(rubik, bold);

        span {
            //color: var(--ww_color_primary);
            background: linear-gradient(88deg, #2BC016 0.88%, #26A96C 99.12%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }

    .title-screen p {
        @include font(inter, reg);
        font-size: 20px;
        font-weight: 500;
        color: var(--ww_white);
        margin-bottom: 30px;
        line-height: 1.5;
    }

    .puzzle-title {
        display: none;
    }

    .start-buttons,
    .finish-buttons {
        width: 100%;
        margin-top: 48px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        #play-again {
            background: #232130;
            box-shadow: none;

            &:hover {
                background: #fff;
            }
        }

        .button {
            flex: 1 1 100%;
            padding: 15px 48px;
            color: #FFF;
            text-align: center;
            @include font(rubik, med);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 135%;
            /* 24.3px */
            letter-spacing: -0.18px;
            transition: box-shadow 0.3s, color 0.3s !important;

            &:hover {
                box-shadow: none !important;
                color: var(--ww_black_1);
            }
        }

        #share-button,
        #play-again {
            flex: none;
            width: 100%;
            margin: 6px auto;
        }

        #play-game {
            max-width: 200px;
        }

        #share-button,
        #play-game,
        #play-button {
            box-shadow: 0px 0px 40px 0 rgba(43, 191, 28, 0.50);
            //box-shadow: 0px -2px 6px 0px rgba(43, 190, 31, 0.50) inset, 0px 0px 40px -40px rgba(43, 191, 28, 0.50);

            &:hover {
                color: #fff;
                box-shadow: none !important;
            }
        }

    }

    /* Wrapper and Container Styling */
    .game-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        width: 100%;
        //height: 100%;
        min-height: 300px;
        box-sizing: border-box;
        text-align: center;
    }

    .game-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        position: relative;
        @media(max-width:767px){
             padding: 0;
        }

        .piece {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &.piece-left-top {
                left: -11px;
                top: 0;
                background-image: url(../images/piece-left-top.svg);
                width: 142px;
                height: 142px;
            }

            &.piece-right-top {
                right: -11px;
                top: 0;
                background-image: url(../images/piece-right-top.svg);
                width: 106px;
                height: 106px;
            }

            &.piece-left-bottom {
                left: 48px;
                top: 204px;
                background-image: url(../images/piece-left-bottom.svg);
                width: 72px;
                height: 72px;
            }

            &.piece-right-bottom {
                right: 14px;
                top: 153px;
                background-image: url(../images/piece-right-bottom.svg);
                width: 62px;
                height: 62px;
            }
        }
    }

    .game-row {
        position: relative;
        width: 100%;
        max-width: 426px;
        min-height: calc(100vh - 250px);
    }

    /* Game Info Styling */
    .game-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    /* Move Counter Styling */

    #move-counter-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .move-container {
        .flex-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 11px;
        }

        .health-bar {
            display: flex;
            gap: 0;
            width: 100%;
            height: 6px;
            background: linear-gradient(to right, red, orange, yellow, green);
            border-radius: 8px;
            overflow: hidden;
            padding: 0px;

            .segment {
                flex: 1;
                border-radius: 2px;
                position: relative;
                background: #232130;
                transition: background 0.3s;
                margin: 0;

                &.active {
                    background: transparent;
                    /* inactive = black */
                }

                &:first-child {
                    margin-left: 0;
                }

                &:before {
                    width: calc(100% + 4px);
                    height: calc(100% + 8px);
                    top: -4px;
                    left: -3px;
                    position: absolute;
                    border: 4px solid #272727;
                    content: "";
                    border-radius: 9px;
                }
            }
        }

    }

    .error-counter {
        position: absolute;
        width: 100%;
        max-width: 313px;
        top: -8px;
        overflow: hidden;

        .error {
            display: inline-block;

            path {
                fill: #EE0A4A;
            }
        }

    }

    .move-counter {
        &.p1 {
            color: var(--ww_regular_text);
        }

    }


    #sentence-toggle {
        display: none;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
        top: 60px;
        right: 84px;
        cursor: pointer;
        z-index: 100;

        svg {
            width: 14px;
            height: 14px;
            margin: 4px 0;

            path {
                fill: var(--ww_white_1);
            }
        }
    }

    .sentence-list-container {
        display: none;
        position: absolute;
        width: 100%;
        max-width: 660px;
        top: 0;
        left: 0;
        border-radius: 20px;
        background: #090719;
        padding: 124px 24px 24px 24px;
        z-index: 20;

        #sentence-list-text {
            max-height: 65vh;
            overflow-x: hidden;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                /* Chrome/Safari/Webkit */
                display: none;
                background: transparent;
                width: 0px;
            }
        }

        .sentence-list-item {
            display: flex;
            width: 100%;
            height: 88px;
            padding: 8px;
            margin: 3px auto;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            background: #090719;

            color: #8A8997;

            @include font(inter, reg);
            font-size: 14px;
            line-height: 170%;
            /* 23.8px */

            &.active {
                background: #232130;
            }

            .grid-container {
                float: left;
                width: 50px;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 3fr));
                gap: 2px;
                margin: 0 5px 0 0;

                .grid-cell {
                    //.width: 21px;
                    height: 12px;
                    border-radius: 2px;
                    border: 0.3px solid rgba(255, 255, 255, .3);

                    &.active {
                        background: #4CC958;
                    }
                }
            }
        }

        .close-button {
            top: 32px !important;
            right: 24px !important;
        }

    }

    /* Grid Styling */
    .game-grid {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        max-width: 426px;
        height: auto;
        align-items: center;
        justify-items: center;
        user-select: none;
        gap: 10px;

        &.active {
            position: relative;
            z-index: 33;
            top: 220px;
            left: 0;
        }
    }

    /* Grid Item Styling */
    .grid-item {
        width: 135px !important;
        height: 76px !important;
        display: flex;
        padding: 28px 8px;
        margin: 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 20px;


        color: var(--ww_color_background);
        border-bottom: 3px solid #999;
        background: linear-gradient(224deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 72.49%), #D0D5E7;
        @include font(rubik, med);
        font-size: 16px;
        cursor: grab;
        transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s, color 0.3s;
        box-sizing: border-box;
        &.warning{
            animation: pulseRed 0.7s cubic-bezier(.4,0,.2,1);
        }
        &.zingle{
             animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
        }
        &.zingle.warning{
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both, pulseRed 0.7s;
        }

        &.start-position {
            // animation: tileBounce 0.3s ease-out;
        }

        &.intro1 {
            opacity: 0;
            animation: tileScaleIn1 .66s ease-out forwards;
            animation-delay: 0s;
        }

        &.intro2 {
            opacity: 0;
            animation: tileScaleIn1 .66s ease-out forwards;
            animation-delay: 0s;
        }

        &.dragging {
            //width: 141px;
            //height: 87px;
            //background-color: #1a73e8;
            //color: #ffffff;
            cursor: grabbing;
            opacity: 1 !important;
            border: none;
            box-shadow: 0px -2.5px 5px 0px rgba(111, 40, 235, 0.50) inset, 0px 0px 40px 0px rgba(111, 40, 235, 0.50);
            transform: rotate(-5deg);
        }

        &.correct-position,
        &.locked-position,
        &.completed {
            color: var(--ww_black_1);
            background: #4CC958;
            // border-top: 2px solid #aaa;
            border-top: none;
            pointer-events: none;
            user-select: none;
        }

        /*

        &.completed {
            background: #4CC958 !important;
            //border-top: 2px solid #aaa !important;
            color: var(--ww_black_1) !important;
        }

       
        &.locked-position {
            color: #fff;
            border-top: none;
            background: linear-gradient(224deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 72.49%), #1C1A29;
        }
        */

        &:hover {
            box-shadow: 0px -2.5px 5px 0px rgba(111, 40, 235, 0.50) inset, 0px 0px 40px 0px rgba(111, 40, 235, 0.50);
        }

    }

    .sortable-ghost {
        //opacity: 0;
        //visibility: hidden;
        // pointer-events: none;
        border-radius: 20px;
        opacity: 0.2;
        background: #232130;
        transform: none !important;
        box-shadow: none !important;
        font-size: 0 !important;
    }


    /* Instruction Screen Styling */
    .instruction-screen {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        //height: 85vh;
        width: 100%;
        top: 50px;
        bottom: 50px;
        left: 0%;
        right: 0;
        margin: 0 auto;
        max-width: 660px;
        background-color: #121021;
        text-align: center;
        border-radius: 20px;
        //background: linear-gradient(198deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 58.92%), #090719;
        z-index: 9999;
        overflow: hidden;

        .game-container {
            padding: 96px 15px;
        }
    }

    .instruction-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        width: 100%;
        height: auto;
    }

    .instruction-slide h2 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #333;
    }

    .image-placeholder {
        width: 80%;
        max-width: 500px;
        height: auto;
        max-height: 400px;
        // background-color: #d3d3d3;
        border-radius: 10px;
        margin-bottom: 20px;
        object-fit: contain;
    }

    /* Button Container */
    .button-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 54px auto;
    }

    .help-button-container {
        position: absolute;
        top: 0;
        right: 0;

        .help-button {
            font-size: 18px;
        }
    }

    #back-button {
        display: none;
    }


    #play-button {
        transition: box-shadow 0.3s, color 0.3s !important;
        padding: 15px 42px;
        box-shadow: 0px 0px 40px 0 rgba(43, 191, 28, 0.5);

        &:hover {
            box-shadow: none;
        }
    }

    .hidden {
        display: none;
    }

    /* Final Score Screen Styling */
    .final-score-screen {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        text-align: center;
        padding: 0 40px 20px 40px;
        width: 100%;
        //max-width: 660px;
        height: 100%;
        z-index: 15;
        background-color: #090719;

        .final-page-toggle {
            display: flex;
            width: 100%;
            max-width: 400px;
            margin: 48px auto 32px;
            background-color: #232130;
            border-radius: 32px;

            .toggle {
                flex: 1 1 50%;
                padding: 4px;
                margin: 2px;
                border-radius: 32px;
                cursor: pointer;
                @include font(rubik, med);
                font-size: 16px;

                &.active {
                    margin: -2px;
                    padding: 8px;
                    background: var(--ww_white);
                    border-radius: 32px;
                    color: var(--ww_color_background);
                }
            }
        }

        .final-poem {
            width: 100%;
            max-width: 400px;
            min-height: 400px;
            padding: 0 24px;
            display: none;
            flex-wrap: wrap;
            text-align: left;
            //color: #888;
            color: var(--ww_white_2);
            transition: opacity 0.5s ease-in-out;

            /*
            p {
                width: 100%;
                //opacity: 0.15;
                //background: radial-gradient(91.81% 120.34% at 0% 55.21%, rgba(255,255,255,.25) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
                background: #232130;
                font-size: 18px;
                //border-left: 2px solid var(--ww_black_2);
                margin: 5px auto;
                padding: 15px 20px;
                color: var(--ww_white_2);
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }

            */
        }
    }

    .score-header {
        position: relative;
        width: 100%;
        padding-top: 16px;
        margin: 0 auto;
        max-width: 660px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 50px 50px;
        border-left: 1px solid #161425;
        border-right: 1px solid #161425;
        border-bottom: 1px solid #161425;
        background: #121021;
        background-image: url('../images/wow-bg.svg');
        //background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        .sentence-toggle {
            top: 74px !important;
            right: auto !important;
            margin-left: 92px !important;
        }

        #final-move-count {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            flex-shrink: 0;
            fill: rgba(0, 0, 0, 0.00);
            margin-bottom: -16px;
            color: #fff;

            @include font(rubik, med);
            font-size: 60px;
            line-height: 1em;
            position: relative;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;

            span {
                @include font(inter, med);
                display: block;
                width: 100%;
                color: #A9A6B7;
                font-size: 14px;
                font-weight: 400 !important;
                line-height: 1em;
                margin-top: 33px;
            }

            &.rank_0 {
                /*
                border: 1px solid #CA0474;
                background: radial-gradient(#CA0474 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #CA0474 inset;
                */
                background-image: url('../images/Badge_Purple_Dark.svg');
                background-position: -65px -65px;
            }

            &.rank_1 {
                /*
                border: 1px solid #6FBD33;
                background: radial-gradient(#6FBD33 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #6FBD33 inset;
                */
                background-image: url('../images/Badge_Green_Dark.svg');
                background-position: -65px -65px;
            }

            &.rank_2 {
                /*
                border: 1px solid #1FA4F2;
                background: radial-gradient(#1D95DCE5 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #1FA4F2 inset;
                */
                background-image: url('../images/Badge_Blue_Dark.svg');
                background-position: -75px -65px;
            }

            &.rank_3 {
                /*
                border: 1px solid #FFAD00;
                background: radial-gradient(#FFAD00 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 16px #FFAD00 inset;
                */
                background-image: url('../images/Badge_Orange_Dark.svg');
                background-position: -75px -65px;
            }
        }

    }

    .score-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        //overflow: hidden;
        //background-color: #fff;
    }

    .score-row {
        width: 100%;
        display: flex;
        margin: 5px auto;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        color: #8A8997;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #232130;
        font-size: 14px;
    }

    .score-row:last-child {
        border-bottom: none;
    }

    .score-icon {
        width: 24px;
        height: auto;
        object-fit: cover;
        margin: 0 8px 0 0;
        //font-size: 24px;
        filter: grayscale(1);
    }

    .score-title {
        text-align: left;
        flex: 1;
        text-transform: capitalize;
    }

    .score-moves {
        @include font(inter, med);
        text-align: right;
        flex: 0 0 auto;
    }

    .highlighted {
        //background-color: #e0f7e7;
        //font-weight: bold;
        //opacity: 0.3
        color: #fff;

        .score-icon {
            filter: none;
        }

        &.rank_0 {
            border-left: 2px solid #CA0474;
            background: radial-gradient(82.26% 82.78% at 0% 56.25%, #CA0474 0%, rgba(202, 4, 116, 0.00) 80%), #232130;
        }

        &.rank_1 {
            border-left: 2px solid #6FBD33;
            background: radial-gradient(82.26% 82.78% at 0% 56.25%, #6FBD33 0%, rgba(202, 4, 116, 0.00) 80%), #232130;
        }

        &.rank_2 {
            border-left: 2px solid #1FA4F2;
            background: radial-gradient(82.26% 82.78% at 0% 56.25%, #1FA4F2 0%, rgba(202, 4, 116, 0.00) 80%), #232130;
        }

        &.rank_3 {
            border-left: 2px solid #FFAD00;
            background: radial-gradient(82.26% 82.78% at 0% 56.25%, #FFAD00 0%, rgba(202, 4, 116, 0.00) 80%), #232130;
        }
    }

    #confetti-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    /* Night Mode Styles */
    //@media (prefers-color-scheme: dark) {
    .title-screen h1,
    .title-screen p,
    .instruction-slide h2,
    .small-text,
    .large-text,
    .medium-text,
    .move-counter {
        color: #ffffff;
    }

    button:disabled {
        background-color: gray !important;
    }

    .drop-zone {
        border-radius: 24px;
        border: 2px solid #935AF7 !important;
        background: #0E0C1E;
        box-shadow: 0px 0px 30px 0px #6F28EB inset;
        color: #6F28EB;
    }

    //}

    /* custom for submit a puzzle game board style */

    .submit-a-puzzle_wrapper {

        .gform_heading {
            display: none;
        }

        .submit-a-puzzle {
            width: 100%;
            max-width: 450px;
            margin: 0 auto;

            .gform_fields {
                display: flex;
                flex-wrap: wrap;

                .full-poem {
                    flex: 1 1 100%;

                    textarea {
                        width: 100%;
                        height: 90px;
                        margin: 9px auto;
                        padding: 9px 32px 13px 32px;
                        border-radius: 24px;
                        background: rgba(255, 255, 255, 0.05);
                        transition: all 0.3s ease-in-out;
                        border: 1px solid transparent;
                    }
                }

                .piece {
                    flex: 1 1 33%;
                    padding: 2px 5px;
                    margin: 0;

                    .gfield_description,
                    .gfield_label {
                        display: none;
                    }

                    input {
                        width: 100% !important;
                        height: 76px !important;
                        padding: 28px 10px;
                        margin: 5px auto;

                        border-radius: 24px;
                        font-size: 20px;
                        transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s, color 0.3s;
                        box-sizing: border-box;

                        text-align: center;

                        color: #fff;
                        //color: #090719;
                        border-top: 2px solid #aaa;
                        background: linear-gradient(224deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 72.49%), #1C1A29;
                    }
                }

                .terms {

                    .gfield_description:not(.validation_message) {
                        font-size: 11px;
                    }
                }

            }

            .gform-footer {
                margin: 15px auto;
                text-align: center;
            }

        }

    }

    /* Dark/Light Color toggles */

    &.light {
        background-color: #ECF1EF;
        color: var(--ww_dark);

        #instruction-screen .header {
            // background: #EEF2F1;
        }

        .game-skin-toggle .dark {
            display: none;
        }

        .game-skin-toggle .light {
            display: block;
        }

        #sentence-toggle {
            background: rgba(0, 0, 0, .2);

            svg path {
                fill: var(--ww_black);
            }
        }

        .sentence-list-container {
            background: #F5F7F6;

            .sentence-list-item {
                background: #CDD4D3;

                &.active {
                    background: #fff;
                }

                .grid-cell {
                    border: 0.3px solid rgba(117, 116, 131, 0.3);
                }
            }

        }

        #game-screen .game-stats {
            //background: url('../images/play-bg-light.svg'), #F5F7F6;
            background-repeat: no-repeat;
            background-position: bottom center;
            border-color: #E2F1EA;
        }

        .score-header {
            background: url('../images/wow-bg-light.svg'), #F5F7F6;
            background-repeat: no-repeat;
            background-position: bottom center;
            border-color: #E2F1EA;

            #final-move-count {
                color: #232130;

                span {
                    color: #232130;
                }

                &.rank_0 {
                    /*
                border: 1px solid #CA0474;
                background: radial-gradient(#CA0474 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #CA0474 inset;
                */
                    background-image: url('../images/Badge_Purple_Light.svg');
                    background-position: -65px -45px;
                }

                &.rank_1 {
                    /*
                border: 1px solid #6FBD33;
                background: radial-gradient(#6FBD33 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #6FBD33 inset;
                */
                    background-image: url('../images/Badge_Green_Light.svg');
                    background-position: -65px -65px;
                }

                &.rank_2 {
                    /*
                border: 1px solid #1FA4F2;
                background: radial-gradient(#1D95DCE5 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 8px #1FA4F2 inset;
                */
                    background-image: url('../images/Badge_Blue_Light.svg');
                    background-position: -65px -45px;
                }

                &.rank_3 {
                    /*
                border: 1px solid #FFAD00;
                background: radial-gradient(#FFAD00 0%, rgba(202, 4, 116, 0.00) 80%);
                box-shadow: 6px 4px 16px #FFAD00 inset;
                */
                    background-image: url('../images/Badge_Orange_Light.svg');
                    background-position: -75px -45px;
                }

            }

        }

        .game-nav {
            background: linear-gradient(228deg, #EEF2F1 0%, #FFF 76.24%), #EEF2F1;

            .icon {
                border-color: #CDD4D3;
            }
        }

        .nav-button {
            border: 1px solid #232130 !important;

            &:hover {
                background: #232130 !important;
                color: #fff !important;
                border: 1px solid #fff !important;
            }
        }
        .game-container{
            .piece{
                 opacity: 0.2;
            }
        }
         
       #instruction-screen{
             #progress-container{
                #progress-bar{
                     background: var(--ww_color_primary);
                }
                }
        }
        .instruction-screen {
            background: #fff;

            h1 {
                color: var(--ww_black);
            }
       
        }

        .instruction-screen-overlay {
            background: rgba(255, 255, 255, .33);
        }

        #instruction-text {

            .indicator:before {
                background: #000 !important;
            }

            .content {
                .text {
                    color: var(--ww_dark) !important;

                    span {
                        color: var(--ww_black) !important;
                    }
                }

            }

            img.dark {
                display: none !important;
            }

            img.light {
                display: block !important;
            }
        }

        .close-button {
            border-color: #CDD4D3;

            svg path {
                fill: var(--ww_black) !important;
            }

            &:hover {
                border-color: #090719;
            }
        }

        .game-pieces-animated {

            .piece-am {
                background-image: url('../images/tile-am-light.svg');
            }

            .piece-I {
                background-image: url('../images/tile-I-light.svg');
            }

            .piece-so {
                background-image: url('../images/tile-so-light.svg');
            }

            .piece-be {
                background-image: url('../images/tile-be-light.svg');
            }

            .piece-think {
                background-image: url('../images/tile-think-light.svg');
            }

            .piece-joy {
                background-image: url('../images/tile-joy-light.svg');
            }

            .piece-must {
                background-image: url('../images/tile-must-light.svg');
            }

            .piece-dreams {
                background-image: url('../images/tile-dreams-light.svg');
            }
        }

        .header-section {

            .icon path {
                fill: var(--ww_dark);
            }
            .logo path:first-child {
                fill: var(--ww_dark);
            }
            .icon{
                &.icon-help{
                     path{
                        fill: var(--ww_dark);
                         &:nth-child(2){
                         fill:#fff
                         }
                     }
                }
            }
        }


        .menu {

            li {

                a {
                    color: var(--ww_black) !important;
                }

                &:hover a,
                &.current_page_item a {
                    color: var(--ww_color_primary) !important;
                }
            }
        }

        .start-buttons,
        .finish-buttons {

            .button {
                color: #090719;

                &:hover {
                    color: #090719 !important;
                }
            }

            #play-again {
                background: #CDD4D3;
                color: var(--ww_dark);

                &:hover {
                    background: #090719;
                    color: var(--ww_white) !important;
                }
            }
        }

        #play-button {
            color: var(--ww_dark);

            &:hover {
                color: var(--ww_dark);
            }
        }

        .title-screen p,
        .title-screen h1,
        .move-counter,
        .final-score-screen,
        .close-button a {
            color: var(--ww_dark);
        }

        .close-button {
            svg {
                margin: 6px 0;

                path {
                    fill: var(--ww_dark);
                }
            }
        }

        .instruction-steps .step {
            background: rgba(0, 0, 0, 0.20) !important;

            &.active {
                background: var(--ww_black) !important;
            }
        }

        .grid-item:not(.correct-position) {
            border-bottom: 2px solid var(--light-word-boxes-back-global, #849D8C);
            background: linear-gradient(214deg, rgba(255, 255, 255, 0.55) -2.08%, rgba(255, 255, 255, 0.00) 78.12%), #C3CFC7;
            color: var(--ww_black_1);

            &.drop-zone {
                color: #6F28EB;
                border: 2px solid #6F28EB !important;
                background: #E0E7E3;
                box-shadow: 0px 0px 30px 0px rgba(111, 40, 235, 0.60) inset;
            }
        }


        .final-score-screen p,
        .final-poem p {
            color: var(--ww_dark);
        }

        .final-poem p {
            background: #fff;
        }

        .final-page-toggle {
            background-color: #CDD4D3;
            color: var(--ww_dark);
        }

        .sortable-ghost {
            background-color: #CDD4D3;
        }

        .highlighted {

            &.rank_0 {
                border-left: 2px solid #CA0474;
                background: radial-gradient(82.26% 82.78% at 0% 56.25%, #CA0474 0%, rgba(202, 4, 116, 0.00) 80%), #fff;
            }

            &.rank_1 {
                border-left: 2px solid #6FBD33;
                background: radial-gradient(82.26% 82.78% at 0% 56.25%, #6FBD33 0%, rgba(202, 4, 116, 0.00) 80%), #fff;
            }

            &.rank_2 {
                border-left: 2px solid #1FA4F2;
                background: radial-gradient(82.26% 82.78% at 0% 56.25%, #1FA4F2 0%, rgba(202, 4, 116, 0.00) 80%), #fff;
            }

            &.rank_3 {
                border-left: 2px solid #FFAD00;
                background: radial-gradient(82.26% 82.78% at 0% 56.25%, #FFAD00 0%, rgba(202, 4, 116, 0.00) 80%), #fff;
            }
        }


        .score-row {
            color: var(--ww_dark);
            background: #fff;
            box-shadow: none;

            span {
                color: var(--ww_dark);
            }
        }

        .copy-right {
            color: var(--ww_dark);
        }
 

    }

}
body {
    &.light {
        &.steps-page {
            header {
                     border: 0;

                &:before {
                    background: linear-gradient(193deg, rgba(207, 207, 207, 0.16) 1.63%, rgba(223, 223, 223, 0) 61.52%), rgba(143, 143, 143, 0.03);
                }
            }
        }

        #game-screen {
            .game-stats {
                &:before {
                    background-image: url('../images/play-bg.svg');
                }
            }
        }

        .move-container {
            .health-bar {
                .segment:before {
                    border-color: #e5e5e5;
                }
            }
        }
    }

    &.steps-page {
        header {
            border: 0;

            &::before {
           background: linear-gradient(215deg, hsla(0, 0%, 100%, .11) 1.63%, hsla(0, 0%, 100%, 0) 61.52%), rgba(28, 26, 41, .03);
    border: 1px solid hsla(0, 0%, 100%, .04);
    border-radius: 0 0 30px 30px;
    content: "";
    height: calc(100% + 69px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
            }
        }

    }
}

.page-template-template-game {
  
}
 body  .game-wrapper{
        .title-screen{
     height: calc(100vh - 176px);
     min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
     }
    }
@keyframes pulseRed {
  0%   { background-color: #fff; box-shadow: 0 4px 0 rgba(0,0,0,0.2); }
  20%  { background-color: rgba(255,77,77,0.8); box-shadow: 0 4px 0 #b22222; }
  80%  { background-color: rgba(255,77,77,0.8); box-shadow: 0 4px 0 #b22222; }
  100% { background-color: #fff; box-shadow: 0 4px 0 rgba(0,0,0,0.2); }
}

@keyframes shake {
	0%   { transform: translateX(0); }
	20%  { transform: translateX(-12px); }
	40%  { transform: translateX(12px); }
	60%  { transform: translateX(-12px); }
	80%  { transform: translateX(12px); }
	100% { transform: translateX(0); }
}