.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero {
	@include transition(all, 0.3s, ease-in-out);
}

body.have-topbar {
	padding-top: 44px;
}

.top-bar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px 0;
	background-color: var(--ww_topbar_bgcolor);
	color: var(--ww_topbar_color);
	transition: all 0.4s ease-in-out;
}

.top-bar-text {
	font-size: var(--ww_font_size_3);
	padding: 0 20px;

	a,
	a:visited {
		font-size: var(--ww_font_size_3);
		color: var(--ww_topbar_color);
		display: inline-block;
	}

	p {
		margin: 0;
		padding: 0;
	}

}

.top-bar-cross {
	position: absolute;
	top: 12px;
	right: 20px;
	line-height: 0.65;
	cursor: pointer;

	img {
		width: 16px;
		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(102%) contrast(103%);
	}
}

.top-bar.hide-top-bar {
	top: -44px;
}

.nav-container {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.header-logo a {
	display: inline-block;
}

.no-overflow {
	overflow: hidden;
}

.header-inner {
	padding: 20px 0;
	box-sizing: border-box;

	@include transition(all, 0.3s, ease-in-out);
}


/* custom sitewide game-style nav */

.game-nav {
	display: none;
	//opacity: 0;
	//visibility: hidden;
	position: absolute;
	top: 70px;
	left: 0;
	//transition: all 0.5s ease-in-out;
	width: 100%;
	max-width: 660px;
	min-height: 70vh;
	border-radius: 20px;
	background: linear-gradient(198deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 58.92%), #090719;
	z-index: 999;

	.menu {

		li {
			margin: 0 0 6px 0;

			a {
				@include font(rubik, reg);
				color: var(--ww_white);
				font-size: 24px;
				font-weight: 500;
				line-height: 135%;
				/* 32.4px */
				letter-spacing: -0.72px;

				&:hover,
				&.current_page_item {
					color: var(--ww_color_primary);
				}


			}

			&.label {
				margin: 32px 0 16px 0;

				a {
					@include font(inter, reg);
					color: var(--ww_white);
					cursor: default;
					font-size: 14px;
					opacity: .33;
					letter-spacing: 0;
				}
			}
		}
	}

}


header {
	margin: 0 auto;
	position: relative;
	max-width: 660px;
	//background: rgba(28, 26, 41, 0.03);
	background: #121021;
	border-left: 1px solid #161425;
	border-right: 1px solid #161425;
	border-radius: 0px 0px 30px 30px;
	box-sizing: border-box;

	&.playing {
		display: block;
		border-radius: 0;
	}
}

.header-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 660px;
	margin: 0 auto;
	padding: 32px 24px;

	.game-menu-ctn {
		/*
		flex: 1 1 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		*/
		width: 120px;
		display: flex;
		column-gap: 16px;
		align-items: center;
		text-align: center;
		margin: 0;

		&:first-child {
			margin-right: 16px;
		}

		&:last-child {
			margin-left: 16px;
		}

		.game-skin-toggle {
			&.icon {
				position: relative;
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin: 0;
				border: 1.111px solid #232130;
				border-radius: 50%;
				cursor: pointer;
				text-align: center;
				transition: border 0.2s ease-in;

				svg,
				img {
					margin: 8px auto;
					width: 24px;
					height: 24px;
					object-fit: cover;
					cursor: pointer;
				}

				&:hover {
					border-color: #fff;
				}
			}

			.light {
				display: none;
			}

			.dark {
				display: block;
			}
		}
		.game-help{
			 border: 0;
			 padding: 0;
			 width: 42px;
			 height: 42px;
			 margin: 0;
			 img, svg{
				 width: auto;
				 height: auto;
				 margin: 0;
			 }

		}

	}

	.logo {
		display: inline-block;
		position: relative;
		z-index: 9;
		line-height: 0;
		width: 500px;
		height: 36px;
		transition: all 0.2s ease-in-out;
		text-align: center;

		svg {
			width: 100%;
			max-width: 86px;
			height: auto;
			margin: 0;
		}
	}

	>* {
		-webkit-user-select: none;
		/* Safari */
		-ms-user-select: none;
		/* IE 10 and IE 11 */
		user-select: none;
		/* Standard syntax */
	}

	.icon {
		position: relative;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: 1.111px solid #232130;
		border-radius: 50%;
		cursor: pointer;
		text-align: center;
		transition: border 0.2s ease-in;

		svg,
		img {
			margin: 8px auto;
			width: 24px;
			height: 24px;
			object-fit: cover;
			cursor: pointer;
		}

		&:hover {
			border-color: #fff;
		}
	}

	#menu-icon-open {
		display: block;
	}

	#menu-icon-close {
		display: none;
	}

	.icon-help {
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
		margin: 8px auto;
		font-size: 12px;

		&:hover {
			border-color: #fff;
		}
	}

}

body.light {

	.game-nav {
		background: linear-gradient(0, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 60.89%), rgba(28, 26, 41, 0.03);

		.icon {
			border-color: #CDD4D3;
		}
	}

	header {
		background: #F5F7F6;
		border-color: #E2F1EA;
	}

	.header-wrapper .icon {
		border-color: #CDD4D3;

		&:hover {
			border-color: #090719;
		}

		path {
			fill: var(--ww_dark);
		}

		;

		path:first-child {
			fill: var(--ww_dark);
		}
	}



}

.header-btns {
	margin-top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
}

body.logged-in.admin-bar {
	header {
		top: 32px;
	}

	&.hide-topbar {
		header {
			top: -12px;
		}
	}
}

.desktop-hide {
	display: none;
}