.faq-block {
	justify-content: space-between;
	margin: 0 auto;	
}

.faq-heading {
	text-align: center;
	.pre-header {
		color: var(--ww_color_primary);
			text-shadow: 0px 0px 32px #88D249;
			/* Game/P1 - Medium */
			@include font(rubik, reg);
			font-size: 18px;
			text-transform: uppercase;
			line-height: 135%; /* 24.3px */
			letter-spacing: -0.18px;
	}
}

.faq-text {
	p {
		color: var(--ww_regular_text);
	}
}

.faq-heading, .faq-text {
	max-width: 846px;
	margin: 0 auto;
}

.faq {
	>a {
		border: none;
		display: block;
		font-size: 24px;
		line-height: 30px;
		@include font(inter, reg);
		cursor: pointer;
		position: relative;
		padding: 37px 0 36px;
		border-top: 1px solid rgb(40 28 60 / 0.12);

		&::after {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			right: 0;
			top: 37px;
			transition: (all, 0.4s, ease-in-out);

			display: block;
			// background-image: url(../images/faq-plus-icon.svg);
			background-repeat: no-repeat;
			background-position: center;
		}

		&:hover {
			color: var(--ww_black);
			border-top: 1px solid rgb(40 28 60 / 0.12);

			&::after {
				// background-image: url(../images/plus-hover.svg);
			}
		}

		&.active {
			padding-bottom: 24px;
			color: var(--ww_black);

			&::after {
				// background-image: url(../images/faq-minus-icon.svg);
			}
		}
	}
}

.faq-content {
	display: none;
	border-top: 0;
	color: var(--ww_black);
	font-size: 20px;
	line-height: 32px;
	padding-bottom: 48px;
	max-width: 716px;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.faq__single {
	//border-bottom: 1px solid var(--ww-blue20);
	a,
	a:visited {
		padding: 0;
		// border: 0;
		color: var(--ww_white);

		&:hover {
			// color: initial;
		}
	}

	span {
		width: 100%;
		display: inline-block;
		position: relative;
		color: var(--ww_white);
		border-radius: 20px;
		border: 1px solid #232130;
		padding: 22px;
		margin: 4px auto;
		box-sizing: border-box;

		&::before {
			content: "+";
			display: inline-block;
			//background-image: url(../images/faq-plus-icon.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 12px;
			right: 0;
			width: 44px;
			height: 44px;
			font-size: 32px;
			z-index: 2;
			transition: all 0.4s ease-in-out;
			background-size: 22px;
		}

		
		&.active {
			&::before {
				content: "-";
			}
		}

	 h2 {
		position: relative;
		margin: 0 auto;
		font-weight: 400;
		font-family: inherit !important;
		line-height: inherit !important;
		font-size: var(--text-22);
		width: 100%;
		display: inline-block;
		color: var(--ww_white);
		cursor: pointer;
		box-sizing: border-box;
		transition: all 0.3s ease-in-out;

		&:hover {
			//color: var(--ww-sky);
		}


	}
	
	}

	&:first-of-type {
		//border-top: 1px solid var(--ww-blue20);
	}
}

.faq__content {
	padding-right: 30px;

	width: 100%;
	display: inline-block;
	position: relative;
	color: var(--ww_white);
	border-radius: 20px;
	background: #232130;
	padding: 22px;
	margin: 4px auto;

	p {
		margin-bottom: 30px;
		font-size: var(--text-18);
	}

	h2, h3, h4 {
		font-size: var(--text-22);
	}
}