.featured-text {
	padding: 38.9px 0;
	font-size: 22px;
	line-height: 1.8;

	b {
		display: block;
	}

	a,
	a:visited {
		color: var(--ww_white);
		border-color: transparent;
		border-color: var(--ww_white);

		&:hover {
			color: var(--ww_highlight_color);
			border-color: var(--ww_highlight_color);
		}
	}

	&__inner {
		border-left: 2px solid var(--ww_highlight_color);
		padding-left: 38px;
	}
}
