
 
.main-section{
	 overflow-x: hidden;
	 @media(max-width:767px){
		 height:  auto !important;
	 }
}
.level-finish-popup {
	margin: 0;
	max-width: 100%;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	overflow-y: auto;      
   -webkit-overflow-scrolling: touch;
   padding: 0 17px;
    box-sizing: border-box;



	.popup-card {
		background: #090719;
		border-radius: 30px;
		padding: 0;
		position: relative;
		text-align: center;
		width: 100%;
		margin: 50px auto;
		max-width: 660px;
		box-sizing: border-box;
		

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 30px;
			background: linear-gradient(198deg, hsla(0, 0%, 100%, .12), hsla(0, 0%, 100%, 0) 58.92%);
			width: 100%;
			height: 100%;

		}
		
		.piece {
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
			opacity: 0.6;
				

			&.piece-one {
				right: 0;
				top: 118px;
				background-image: url(../images/piece-01.svg);
				width: 62px;
				height: 62px;
			}

			&.piece-two {
				left: 0;
				top: 201px;
				background-image: url(../images/piece-02.svg);
				width: 68px;
				height: 98px;
			}

			&.piece-three {
				right: 0;
				bottom: 0;
				background-image: url(../images/piece-03.svg);
				width: 82px;
				height: 137px;
				border-radius: 0 0 30px 0px;
			}

			&.piece-four {
				left: 0;
				bottom: 0;
				background-image: url(../images/piece-04.svg);
				width: 127px;
				height: 95px;
			border-radius: 0 0 0 30px;
			}
		}


		.content-area {
			position: relative;
			z-index: 6;
			padding: 78px 24px;
			
			&.level-1 {
				.badge-box{
				background-image: url(../images/level-1-badge.png);
				}
					.arrows {
	           	background-image: url(../images/level-1-arrows.svg);
					}
			}

			&.level-2 {
				.badge-box{
				background-image: url(../images/level-2-badge.png);
				}
				.arrows {
					background-image: url(../images/level-2-arrows.svg);
				}

			}

			&.level-3 {
				.badge-box{
				background-image: url(../images/level-3-badge.png);
				}
				.arrows {
					background-image: url(../images/level-3-arrows.svg);
				}
			}
		}

		.arrows {
			position: absolute;
			width: 233px;
			height: 147px;
		    background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			left: 0;
			top: -87px;
			right: 0;
			margin: 0 auto;
		}

		.badge-box {
				width: 100%;
			height: 343px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 335px 343px;
			margin: 0 auto;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: -10px;
			top: -173px;
			right: 0;

			.hexagone-txt {
				color: var(--ww_black_1);

				.heading-5 {
					@include font(rubik, med);
					font-size: 30px;
					font-style: normal;
					font-weight: 500;
					line-height: 112%;
					letter-spacing: -0.9px;
					color: var(--ww_black_1);
					margin: 0;
				}
			}



		}
			.subtitle {
				@include font(inter, reg);
				color: var(--ww_grey_1);
				margin-bottom: 32px;
				font-size: 18px;
				line-height: 170%;
				@media(max-width:767px){ font-size: 14px;}
			}


		.popuptitle {
			width: 100%;
			margin: 0 auto 16px;
			transition: all 0.3s ease;
			text-align: center;

			span {

				background: linear-gradient(88deg, #2BC016 0.88%, #26A96C 99.12%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				display: block;
			}


		}

		.popupcontent {
			font-size: 22px;
			@include font(rubik, med);
			text-align: center;
			max-width: 327px;
			letter-spacing: -0.18px;
			margin: 0 auto 30px;
			@media(max-width:767px){
					font-size: 18px;
			}
		}

		.site-btn {
			margin-bottom: 24px;
		}

		.note {
			font-size: 14px;
			text-align: center;
			color: var(--ww_grey_1);
		}


	}


	@media (orientation: landscape) and (max-height: 750px),
	(max-height: 750px) {
         display: block !important;
		 .popup-card{
			 margin: 140px auto 0;
		 }
	}
	&.difficulty-popup {
		.popup-card {
			margin: 50px auto 0;
			border-radius: 30px 30px 0 0;
			&:before{ border-radius: 30px 30px 0 0; }
			.piece{
				&.piece-three,
				 &.piece-four{
					 border-radius: 0
				 }
			}
	
			.popupcontent {
				@include font(rubik, reg);
				margin-bottom: 56px;

				strong {
					@include font(rubik, med);
				}
			}

			.level-tabs {
				background-color: var(--ww_black_3);
				border-radius: 32px;
				width: 100%;
				margin: 34px 0 26px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media (max-width:360px) {
					  flex-wrap: wrap;
				}

				.tab {
					width: 33%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: var(--ww_white);
					font-size: var(--ww_font_size_19);
					line-height: 110%;
					letter-spacing: -0.16px;
					@include font(rubik, med);
					padding: 15px;
					gap: 4px;
					cursor: pointer; 

					@media(max-width:767px) {
						padding: 9px 18px;
						width: auto;
					}
					@media (max-width:360px) {
					 width: 100%;
					}

					img {
						width: 32px;
						height: auto;

						@media(max-width:767px) {
							width: 16px
						}
					}

					&.active {
						background-color: var(--ww_white);
						border-radius: 50px;
						color: var(--ww_color_background);
						padding: 19px 15px;
						margin: -4px 0;

						@media(max-width:767px) {
							padding: 11px 18px;
							margin: -4px;
						}
							@media (max-width:360px) {
					 margin: 0;
					}
					}
				}

			}

			.content-area {
				padding-bottom: 32px;
			}
		}
	}

}
