
.team {
	.section-head {
		max-width: 765px;
		margin: 0 auto;
		text-align: center;

		p {
			line-height: 1.5;
			color: var(--ww_regular_text);
		}
		
	}

	.pre-header {
		color: var(--ww_color_primary);
		text-shadow: 0px 0px 32px #88D249;
		@include font(rubik, reg);
		font-size: 18px;
		text-transform: uppercase;
		line-height: 135%;
		letter-spacing: -0.18px;
	}

}

.team-members {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	&.sm-leadership {
		grid-template-columns: repeat(4, 1fr);

		@media(max-width:1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
			@media(max-width:767px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(max-width:640px) {
		grid-template-columns: repeat(1, 1fr);
	}

	}

	

   &.leadership{
		@media(max-width:991px) {
			grid-template-columns: repeat(2, 1fr);
		}

	@media(max-width:640px) {
		grid-template-columns: repeat(1, 1fr);
	}
	 .single-team-member {
	
		h4 {
			font-size: var(--ww_font_size_9);
		}

		.member-img {
			margin: 32px 0;
			text-align: center;			
			width: 260px;
			height: 420px;		
			@media(max-width:991px){
				 margin: 32px auto;
			}	
		}
	 }
   }

}

.single-team-member {
	.member-img {
		margin: 16px 0;
		width: 80px;
		height: 80px;
		border-radius: 130px;
		overflow: hidden;
			@media(max-width:991px){
				 margin: 16px auto;
			}

		a,
		a:visited {
			border-bottom: none;
			display: block;
			line-height: 0.65;
			width: 100%;
			height: 100%;
		}
	
		img {			
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;


			&:hover {			
				transform: scale(1.06);			
			}
		}
		
	}

	.member-bio {
		margin: 32px auto;

		.member-name {
			h4 {
				font-size: var(--ww_font_size_7);
				margin: 0;
				
				a,
				a:visited {
					border-bottom: none;

					&:hover {
						color: var(--ww_highlight_color);
					}
				}
			}
		}

		.member-designation {
			color: var(--ww_regular_text);

			p {
				margin-bottom: 24px;
			}
			
		}

		.social {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 2px;
			background: rgba(255,255,255,.2);
			border-radius: 50%;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;

				img, svg {
					margin-top: 9px;
					width: 20px;
					height: 20px;
					object-fit: cover;
					
					path {
						fill: var(--ww_white);
					}
				}
			
			}
		}
			@media(max-width:991px){
				text-align: center;
			}	

	}

}

.single-member-detail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2%;
	justify-content: space-between;
	padding: 16px 0 21px;
	color: var(--ww_black80);
	border-bottom: 1px solid var(--ww_regular_text);

	&:first-child {
		border-top: 1px solid var(--ww_regular_text);
	}

	h6 {
		letter-spacing: -0.15px;
		color: var(--ww_black80);
	}

	h6,
	p {
		margin-bottom: 0;
	}

	.name {
		flex: 4;
	}

	.description {
		flex: 5;
	}

	.title {
		flex: 2;
	}
}

.team-detail {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	max-width: 639px;
	max-height: 70vh;
	width: 100%;
	transition: all 0.5s ease-in-out;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

	.team-detail-inner {
		padding-right: 6px;
		height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		&.scroll {
			padding-right: 0;

			&::-webkit-scrollbar {
				display: block;
			}
		}
	}

	.mfp-close {
		position: absolute;
		top: 7px;
		right: 5px;
		width: 16px;
		height: 16px;
		transition: all 200ms;
		// background-image: url(../images/close.png);
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;

		&:hover {
			background-color: transparent;
			cursor: pointer;
		}
	}
}

.team-detail-inner::-webkit-scrollbar {
	width: 6px;
	height: 100%;
}

.team-detail-inner::-webkit-scrollbar-track {
	background-color: var(--ww_regular_text);
}

.team-detail-inner::-webkit-scrollbar-thumb {
	background: var(--ww_yellow);
}


.mfp-content {
	text-align: center;
}

.mfp-wrap {
	z-index: 999999 !important;
}
